<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSINT Tool</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('index') }}" class="navbar-logo-link">
        <img
          src="{{ url_for('static', filename='logo.png') }}"
          alt="Logo"
          class="navbar-logo"
        />
      </a>
      <ul>
        <li class="reports"><a href="#">Reports</a></li>
        <li class="settings">
          <a href="{{ url_for('settings') }}">Settings</a>
        </li>
        <!-- Additional navigation links -->
      </ul>
    </nav>
    {% block body %}{% endblock %}
    <footer>
      <p>&copy; 2024 AutOSINT. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/welcanim.js') }}"></script>
    <!-- Link to welcome text JavaScript file -->
  </body>
</html>
